<!DOCTYPE html>
<html>
  <%- partial('_partial/head') %>
  <body>
    <%- partial('_partial/topnav') %>
    <%- partial('_partial/header') %>
    <div class="home-contain">
      <%- partial('_partial/L-Box') %>
      <main class="main"> 
        <%- body %>
      </main>
      
    </div>
    <%- partial('_partial/footer') %>
  </body>
</html>