<footer class="footer">
  <div class="footer_wrap">
    <div class="copyright">
      <% var current = date(Date.now(),"YYYY") %>
      <span>&copy </span>
      <% if(!theme.footer.since || theme.footer.since == current) { %>
        <span><%- current %></span>
      <% }else{ %>
        <span><%- theme.footer.since %> - <%- current %></span>
      <% } %>
      <span class="copyright_belong"><%= theme.footer.copyright || config.title %></span>
    </div>
    <div class="theme_info">
      Powered by 
      <a href="https://hexo.io">Hexo</a>
       & 
      <a href="https://github.com/D2zzz/hexo-theme-wrabbit" target="_blank" rel="nofollow noopener">wrabbit theme</a>
      by 
      <span class="author"><%= config.author %></span>
    </div>
  </div>
</footer>